body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-container {
    width: 450px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.header img {
    width: 60px;
    margin-right: 10px;
}

.header h2 {
    margin: 0;
    font-size: 18px;
}

input, button {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: royalblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

